@import "tailwindcss";
@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
}

:root[data-theme='light'] {
  --navbar-bg: rgba(248, 250, 252, 0.7); 
  --hero-bg: #EEF2F7;
  --navbar-text-color: #1F2937;
  --hero-text-color: #0F172A;
  --about-bg: #E2E8F0;
  --about-text-color: #475569;
  --skills-bg: #EEF2F7;
  --skills-text-color: #0F172A;
} 

:root[data-theme='dark'] {
  --navbar-bg: rgba(11, 15, 26, 0.7);
  --hero-bg: #121826;
  --navbar-text-color: #D1D5DB;
  --hero-text-color: #E5E7EB;
  --about-bg: #1A2238;
  --about-text-color: #9CA3AF;
  --skills-bg: #121826;
  --skills-text-color: #E5E7EB;
}

.navbar-theme {
  background-color: var(--navbar-bg);
  color: var(--navbar-text-color);
  backdrop-filter: blur(12px); 
  -webkit-backdrop-filter: blur(12px);
}

.hero-theme {
  background-color: var(--hero-bg);
  color: var(--hero-text-color);
}

.about-theme {
  background-color: var(--about-bg);
  color: var(--about-text-color);
}

.skills-theme {
  background-color: var(--skills-bg);
  color: var(--skills-text-color);
}